In [11]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [2]:
df = pd.read_csv("flight-delays/flights.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274964 entries, 0 to 274963
Data columns (total 34 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Unnamed: 0.2         274964 non-null  int64
 1   Unnamed: 0           274964 non-null  int64
 2   Unnamed: 0.1         274964 non-null  int64
 3   YEAR                 274964 non-null  int64
 4   MONTH                274964 non-null  int64
 5   DAY                  274964 non-null  int64
 6   DAY_OF_WEEK          274964 non-null  int64
 7   AIRLINE              274964 non-null  object
 8   FLIGHT_NUMBER        274964 non-null  int64
 9   TAIL_NUMBER          274225 non-null  object
 10  ORIGIN_AIRPORT       274964 non-null  object
 11  DESTINATION_AIRPORT  274964 non-null  object
 12  SCHEDULED_DEPARTURE  274964 non-null  int64
 13  DEPARTURE_TIME       270719 non-null  float64
 14  DEPARTURE_DELAY      270719 non-null  float64
 15  TAXI_OUT             270571 non-null  float64
 16  WHEELS_OFF           270571 non-null  float64
 17  SCHEDULED_TIME       274964 non-null  float64
 18  ELAPSED_TIME         269773 non-null  float64
 19  AIR_TIME             269773 non-null  float64
 20  DISTANCE             274964 non-null  int64
 21  WHEELS_ON            270377 non-null  float64
 22  TAXI_IN              270377 non-null  float64
 23  SCHEDULED_ARRIVAL    274964 non-null  int64
 24  ARRIVAL_TIME         270377 non-null  float64
 25  ARRIVAL_DELAY        269773 non-null  float64
 26  DIVERTED             274964 non-null  int64
 27  CANCELLED            274964 non-null  int64
 28  CANCELLATION_REASON  4433 non-null    object
 29  AIR_SYSTEM_DELAY     51863 non-null   float64
 30  SECURITY_DELAY       51863 non-null   float64
 31  AIRLINE_DELAY        51863 non-null   float64
 32  LATE_AIRCRAFT_DELAY  51863 non-null   float64
 33  WEATHER_DELAY        51863 non-null   float64
dtypes: float64(16), int64(13), object(5)
memory usage: 71.3+ MB

In [5]:
pd.set_option('display.max_columns', 84)

In [6]:
df.head(10)

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,363169,5290975,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,1,704061,4899614,2015,11,2,1,AA,2516,N3CVAA,ORD,DEN,1715,1743.0,28.0,40.0,1823.0,164.0,177.0,126.0,888,1929.0,11.0,1859,1940.0,41.0,0,0,NaN,13.0,0.0,28.0,0.0,0.0
2,2,389056,3769408,2015,8,22,6,AS,93,N317AS,SEA,ANC,1355,1353.0,-2.0,20.0,1413.0,220.0,206.0,182.0,1448,1615.0,4.0,1635,1619.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,3,132167,4999624,2015,11,9,1,AA,2383,N871AA,MCO,DFW,650,652.0,2.0,16.0,708.0,181.0,172.0,142.0,985,830.0,14.0,851,844.0,-7.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,4,304371,2572568,2015,6,12,5,US,1978,N833AW,CLE,CLT,705,700.0,-5.0,12.0,712.0,93.0,92.0,71.0,430,823.0,9.0,838,832.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5,5,202501,3546165,2015,8,9,7,OO,4669,N825SK,MSY,SLC,740,736.0,-4.0,11.0,747.0,211.0,218.0,190.0,1428,957.0,17.0,1011,1014.0,3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
6,6,179324,3704124,2015,8,18,2,OO,5538,N930SW,SFO,MRY,1434,1813.0,219.0,12.0,1825.0,49.0,39.0,24.0,77,1849.0,3.0,1523,1852.0,209.0,0,0,NaN,0.0,0.0,110.0,99.0,0.0
7,7,524919,1223183,2015,3,20,5,WN,1978,N651SW,OKC,LAS,1955,2036.0,41.0,12.0,2048.0,165.0,158.0,142.0,986,2110.0,4.0,2040,2114.0,34.0,0,0,NaN,0.0,0.0,0.0,34.0,0.0
8,8,15845,4112277,2015,9,13,7,UA,738,N427UA,DTW,DEN,1555,1550.0,-5.0,12.0,1602.0,203.0,165.0,149.0,1123,1631.0,4.0,1718,1635.0,-43.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
9,9,537260,5334232,2015,11,30,1,AS,750,N477AS,SEA,ATL,1620,1619.0,-1.0,12.0,1631.0,277.0,272.0,251.0,2182,2342.0,9.0,2357,2351.0,-6.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df['CANCELLATION_REASON'].value_counts(dropna= False)

CANCELLATION_REASON
NaN    270531
B        2397
A        1260
C         776
Name: count, dtype: int64

In [13]:
imputer = SimpleImputer(missing_values=np.nan, strategy= 'most_frequent')
df['CANCELLATION_REASON'] = imputer.fit_transform(df[['CANCELLATION_REASON']]).ravel()
df.head()

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,363169,5290975,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,B,NaN,NaN,NaN,NaN,NaN
1,1,704061,4899614,2015,11,2,1,AA,2516,N3CVAA,ORD,DEN,1715,1743.0,28.0,40.0,1823.0,164.0,177.0,126.0,888,1929.0,11.0,1859,1940.0,41.0,0,0,B,13.0,0.0,28.0,0.0,0.0
2,2,389056,3769408,2015,8,22,6,AS,93,N317AS,SEA,ANC,1355,1353.0,-2.0,20.0,1413.0,220.0,206.0,182.0,1448,1615.0,4.0,1635,1619.0,-16.0,0,0,B,NaN,NaN,NaN,NaN,NaN
3,3,132167,4999624,2015,11,9,1,AA,2383,N871AA,MCO,DFW,650,652.0,2.0,16.0,708.0,181.0,172.0,142.0,985,830.0,14.0,851,844.0,-7.0,0,0,B,NaN,NaN,NaN,NaN,NaN
4,4,304371,2572568,2015,6,12,5,US,1978,N833AW,CLE,CLT,705,700.0,-5.0,12.0,712.0,93.0,92.0,71.0,430,823.0,9.0,838,832.0,-6.0,0,0,B,NaN,NaN,NaN,NaN,NaN

In [14]:
df['AIR_SYSTEM_DELAY'].value_counts(dropna= False)

AIR_SYSTEM_DELAY
NaN      223101
0.0       24203
1.0        1338
2.0        1107
3.0        1097
          ...
305.0         1
200.0         1
241.0         1
343.0         1
168.0         1
Name: count, Length: 306, dtype: int64

In [15]:
df['AIR_SYSTEM_DELAY'].describe().round(3)

count    51863.000
mean        13.457
std         27.809
min          0.000
25%          0.000
50%          2.000
75%         17.000
max        791.000
Name: AIR_SYSTEM_DELAY, dtype: float64

In [18]:
imputer = SimpleImputer(missing_values=np.nan, strategy= 'mean')
df[['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']]= imputer.fit_transform(df[['AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY']])
df.head()

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,363169,5290975,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591
1,1,704061,4899614,2015,11,2,1,AA,2516,N3CVAA,ORD,DEN,1715,1743.0,28.0,40.0,1823.0,164.0,177.0,126.0,888,1929.0,11.0,1859,1940.0,41.0,0,0,B,13.00000,0.000000,28.000000,0.000000,0.000000
2,2,389056,3769408,2015,8,22,6,AS,93,N317AS,SEA,ANC,1355,1353.0,-2.0,20.0,1413.0,220.0,206.0,182.0,1448,1615.0,4.0,1635,1619.0,-16.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591
3,3,132167,4999624,2015,11,9,1,AA,2383,N871AA,MCO,DFW,650,652.0,2.0,16.0,708.0,181.0,172.0,142.0,985,830.0,14.0,851,844.0,-7.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591
4,4,304371,2572568,2015,6,12,5,US,1978,N833AW,CLE,CLT,705,700.0,-5.0,12.0,712.0,93.0,92.0,71.0,430,823.0,9.0,838,832.0,-6.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591

In [19]:
df.head()

,Unnamed: 0.2,Unnamed: 0,Unnamed: 0.1,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,SCHEDULED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,WHEELS_ON,TAXI_IN,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,0,363169,5290975,2015,11,28,6,DL,1590,N971AT,CAE,ATL,700,655.0,-5.0,17.0,712.0,68.0,61.0,39.0,192,751.0,5.0,808,756.0,-12.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591
1,1,704061,4899614,2015,11,2,1,AA,2516,N3CVAA,ORD,DEN,1715,1743.0,28.0,40.0,1823.0,164.0,177.0,126.0,888,1929.0,11.0,1859,1940.0,41.0,0,0,B,13.00000,0.000000,28.000000,0.000000,0.000000
2,2,389056,3769408,2015,8,22,6,AS,93,N317AS,SEA,ANC,1355,1353.0,-2.0,20.0,1413.0,220.0,206.0,182.0,1448,1615.0,4.0,1635,1619.0,-16.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591
3,3,132167,4999624,2015,11,9,1,AA,2383,N871AA,MCO,DFW,650,652.0,2.0,16.0,708.0,181.0,172.0,142.0,985,830.0,14.0,851,844.0,-7.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591
4,4,304371,2572568,2015,6,12,5,US,1978,N833AW,CLE,CLT,705,700.0,-5.0,12.0,712.0,93.0,92.0,71.0,430,823.0,9.0,838,832.0,-6.0,0,0,B,13.45732,0.090662,18.590787,23.739332,3.158591

In [20]:
df.to_csv('flights.csv', index=False)

In [ ]:
df.to_csv('/path/to/your/directory/updated_data.csv', index=False)